/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* font size */
/* font family */
/* font weight */
/* width/height */
/* padding/margin */
/* color */
/* btn */
/* slider params */
/* fonts */
@font-face {
  font-family: "Bringin";
  src: url("fonts/Bringin/Bringin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans Bold";
  src: url("fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans SemiBold";
  src: url("fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans ExtraBold";
  src: url("fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans Light";
  src: url("fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway Bold";
  src: url("fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* general style */
*:focus, *:active {
  outline: none !important; }

html {
  overflow: hidden; }

body {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #949494;
  line-height: 1;
  min-width: 450px;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #fefefe;
  overflow-y: scroll; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1rem; }

a {
  color: inherit; }
  a:hover {
    text-decoration: unset;
    color: inherit; }

.logo {
  display: inline-block;
  font-size: 2rem;
  color: #949494;
  font-family: "Bringin";
  text-align: center;
  cursor: pointer; }
  .logo__firstLetter {
    color: #36aeea; }

.btn {
  font-family: "Raleway Bold", Arial, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 2;
  text-align: center;
  padding: 7px 2.8rem 6px;
  background-color: #36aeea;
  color: #FFFFFF;
  text-transform: uppercase;
  border: 3px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .btn {
      padding: 5px 1.8rem; } }
  @media screen and (max-width: 576px) {
    .btn {
      padding: 2px 1.2rem; } }
  .btn:hover, .btn:active, .btn:focus {
    color: #FFFFFF;
    box-shadow: none;
    outline: none; }
  .btn--transp {
    background-color: transparent;
    border-color: #36aeea;
    color: #36aeea; }
    .btn--transp:hover, .btn--transp:active, .btn--transp:focus {
      color: #36aeea; }
  .btn--transpbr {
    background-color: transparent;
    color: #36aeea; }

.form-control {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.table td, .table th {
  padding: 0.5rem;
  font-size: "OpenSans", Arial, sans-serif; }
.table .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  padding: 0.5rem;
  font-size: "OpenSans", Arial, sans-serif; }
  .table .form-control:active, .table .form-control:focus {
    background-color: #b0d5e8;
    outline: none;
    box-shadow: none; }
.table td.active {
  padding: 0; }

.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 1px; }

.link {
  color: #36aeea;
  font-size: 0.8rem;
  cursor: pointer; }
  .link:hover {
    color: #36aeea;
    text-decoration: underline; }

/* header style */
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1001; }
  .header--transp {
    background-color: rgba(0, 0, 0, 0.7); }
  .header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    padding: 0.5rem 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    @media screen and (max-width: 1200px) {
      .header__inner {
        padding: 0.5rem 0; } }
    @media screen and (max-width: 768px) {
      .header__inner {
        padding: 0.5rem 0; } }
  .header__humburg {
    display: none;
    background-image: url(images/ic/ic-menu1.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    height: 30px;
    width: 30px;
    padding: 0;
    border-width: 0; }
    @media screen and (max-width: 576px) {
      .header__humburg {
        display: block;
        margin-left: auto;
        margin-right: 1rem; } }
  .header__humburgClose {
    background-image: url(images/ic/ic-close.svg);
    background-size: 25px;
    background-position: 3px 3px; }
  .header__nav {
    margin-left: 2.1rem; }
    @media screen and (max-width: 768px) {
      .header__nav {
        margin-left: 0.5rem; } }
  .header__login {
    margin-left: auto; }
    @media screen and (max-width: 576px) {
      .header__login {
        margin: 0; } }

.header__humburgClose + .menu-nav {
  display: flex; }

.menu-nav {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 576px) {
    .menu-nav {
      display: none;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: calc(35px + 0.5rem*2);
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      margin: 0; } }
  .menu-nav__li {
    margin-left: 2.1em;
    font-family: "OpenSans Bold", Arial, sans-serif;
    line-height: 3;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    font-size: 1rem; }
    @media screen and (max-width: 1200px) {
      .menu-nav__li {
        font-size: 0.8rem; } }
    .menu-nav__li a {
      color: #949494; }
      .menu-nav__li a:hover {
        text-decoration: none; }
    .menu-nav__li:hover, .menu-nav__li:active {
      border-bottom-color: #36aeea; }
    @media screen and (max-width: 576px) {
      .menu-nav__li {
        margin: 0;
        padding: 0 15px; } }

.footer {
  background-color: rgba(0, 0, 0, 0.7); }
  .footer__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 2.1rem 0px; }
  .footer__copyright {
    font-size: 1rem; }
  .footer-contacts {
    font-size: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer-contacts__li {
      margin-right: 5px; }
      .footer-contacts__li:last-child {
        margin-right: 0px; }

.social-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .social-menu__li {
    margin-right: 5px; }
    .social-menu__li:last-child {
      margin-right: 0px; }
  .social-menu__fb {
    width: 50px;
    height: 50px;
    background: transparent url("images/ic/ic-fb.svg") no-repeat; }

/* slider style */
.slider {
  width: 100% !important;
  height: 50vh !important;
  min-height: 400px; }
  .slider-btn {
    width: 15% !important; }
  .slider-img {
    opacity: 0.85;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #505e64; }
  .slider-text-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    @media screen and (max-width: 576px) {
      .slider-text-wrap {
        display: none; } }
  .slider-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #FFFFFF;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 0 15%; }
    .slider-text__title {
      font-family: "OpenSans SemiBold", Arial, sans-serif;
      font-size: 3.6rem;
      letter-spacing: 6px;
      line-height: 1;
      text-transform: uppercase;
      color: #FFFFFF; }
      @media screen and (max-width: 1200px) {
        .slider-text__title {
          font-size: 3rem; } }
      @media screen and (max-width: 992px) {
        .slider-text__title {
          font-size: 2rem; } }
      @media screen and (max-width: 768px) {
        .slider-text__title {
          font-size: 2rem; } }
      @media screen and (max-width: 576px) {
        .slider-text__title {
          font-size: 1rem; } }
    .slider-text .logo {
      font-size: 4.3rem;
      color: #36aeea;
      letter-spacing: 3px; }
      @media screen and (max-width: 1200px) {
        .slider-text .logo {
          font-size: 3rem; } }
      @media screen and (max-width: 992px) {
        .slider-text .logo {
          font-size: 2em; } }
      @media screen and (max-width: 768px) {
        .slider-text .logo {
          font-size: 2rem; } }
      @media screen and (max-width: 576px) {
        .slider-text .logo {
          font-size: 1rem; } }
    .slider-text__descr {
      font-family: "OpenSans", Arial, sans-serif;
      line-height: 2;
      text-transform: uppercase;
      font-size: 1.2rem;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.8rem 1.4em; }
      @media screen and (max-width: 1200px) {
        .slider-text__descr {
          font-size: 1rem; } }
      @media screen and (max-width: 992px) {
        .slider-text__descr {
          font-size: 0.8rem; } }
      @media screen and (max-width: 768px) {
        .slider-text__descr {
          font-size: 0.8rem; } }
      @media screen and (max-width: 576px) {
        .slider-text__descr {
          font-size: 0.5rem; } }
  .slider .slider-indicator-icon {
    width: 15px !important;
    height: 15px !important;
    margin: 0 1rem !important; }
    @media screen and (max-width: 768px) {
      .slider .slider-indicator-icon {
        width: calc(15px / 2) !important;
        height: calc(15px / 2) !important; } }

/* login form */
.login-form {
  width: 400px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center; }
  .login-form .form-group:last-child {
    margin-bottom: 0px; }

.login-form-title {
  font-size: 3rem; }

/* content */
.article-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-bottom: 1rem; }
  @media screen and (max-width: 768px) {
    .article-list {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .article-list__img {
    width: 20%;
    margin-right: 2rem;
    margin-bottom: 0; }
    .article-list__img img {
      width: 100%;
      height: auto; }
    @media screen and (max-width: 768px) {
      .article-list__img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.5rem; } }
  .article-list__info {
    width: 70%; }
    @media screen and (max-width: 768px) {
      .article-list__info {
        width: 100%; } }
  .article-list__title {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-family: "OpenSans Bold", Arial, sans-serif;
    font-weight: bold;
    color: #212121;
    line-height: 1.3;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
    .article-list__title:hover {
      color: #212121;
      opacity: 0.9; }
  .article-list__subtitle {
    font-size: 1rem;
    line-height: 1.3;
    color: inherit;
    height: 40px;
    text-overflow: clip;
    overflow: hidden; }
    .article-list__subtitle:hover {
      color: inherit; }
  .article-list__details {
    line-height: 2;
    color: #36aeea;
    margin-bottom: 0;
    height: 30px;
    text-overflow: clip;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .article-list__details {
        margin-bottom: 0.5rem; } }

.page__title {
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 2;
  font-family: "OpenSans Bold", Arial, sans-serif;
  font-weight: bold;
  color: #212121;
  padding: 1.3rem 0;
  text-transform: uppercase;
  text-align: center; }
.page__inner {
  overflow: auto; }
.page table {
  color: inherit; }
.page th {
  font-family: "OpenSans Bold", Arial, sans-serif;
  color: #212121;
  text-transform: uppercase; }

.timetable .table th {
  width: calc(100% / 7); }

.payment thead th:first-child {
  color: inherit; }
.payment tbody td:first-child {
  font-family: "OpenSans Bold", Arial, sans-serif;
  color: #212121; }
.payment tbody td {
  max-width: 250px; }
.payment h4 {
  color: #36aeea;
  text-align: right; }

.gallery .page__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.gallery .image {
  width: 30%;
  height: 200px;
  margin: 0 !important;
  margin-right: 1rem !important;
  margin-bottom: 1rem !important; }
  .gallery .image:last-child {
    margin-right: 0px !important; }
  @media screen and (max-width: 576px) {
    .gallery .image {
      width: 100% !important;
      margin-right: 0px !important; } }
