/* login form */
.modal
  display: block!important
  &::before
    content: ""
    position: fixed
    top: 0
    left: 0
    z-index: 1040
    width: 100%
    height: 100%
    background-color: #000
    opacity: 0.5
  &-header
    border-bottom-width: 0
    +justify-content(center)
  &-content
    z-index: 2000
  &-footer
    border-top-width: 0
    +justify-content(center)

.modal-dialog
  max-width: 50%!important
  height: 100%
  +flexbox
  +justify-content(center)
  +align-items(center)


.modal-form
  width: 100%
  min-width: 400px
  padding: 30px
  background-color: rgba(255, 255, 255, 1)
  +border-radius($rad_form)
  text-align: center 
  .form-group
    &:last-child
      margin-bottom: 0px
  .custom-file-label
    text-align: left
    &::after
      display: none

.login-form-title      
  font-size: 3rem

.lg
  .modal-dialog
    max-width: 50%!important
    +large
      max-width: 70%!important
    +tablet
      max-width: 90%!important
    +phone
      min-width: calc(100% - 30px)
      margin: .5rem auto
.sm
  .modal-dialog
    max-width: 20%!important
    +phone
      max-width: 100%!important